

//Mixins
@mixin transitionEffect($par){
  transition: $par all;
  -webkit-transition: $par all;
  -moz-transition: $par all;
  -o-transition: $par all;
}
@mixin centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}


//color
$bg-color-1 :#2a2a72;
$bg-color-2: #fff;
$bg-color-3: rgba(154, 160, 185, 0.05);
$bg-color-4:#4c2885;
$bg-color-5:#bbb;
$bg-color-6:  rgba(0, 0, 0, 0.1);
$bg-color-7:  #eee;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color-1;
  color: $bg-color-2;
  font-family: 'Poppins', sans-serif;
 @include centerFlex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: $bg-color-4;
  border: none;
  border-radius: 10px;
  color: $bg-color-2;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px $bg-color-3,
  0 15px 40px $bg-color-6;
}

.user-form input::placeholder {
  color: $bg-color-5;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: $bg-color-4;
  border-radius: 20px;
  box-shadow: 0 5px 10px $bg-color-3,
  0 15px 40px $bg-color-6;
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid $bg-color-1;
  height: 150px;
  width: 150px;
}

.user-info {
  color: $bg-color-7;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: $bg-color-2;
  background-color: $bg-color-1;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
